.inputWrapper {
  margin: 0 auto 40px;
  padding: 10px;
  width: 400px;
  border-radius: 5px;

  box-shadow: 12px 4px 21px 4px rgba(0, 0, 0, 0.28);
}

.filterLabel {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
.filterInput {
  margin-top: 10px;
  outline: none;
}
